@import "variables";

// Gutenberg color options
$colors: (
        'primary-w1' : $color-primary-w1,
        'primary-w2' : $color-primary-w2,
        'primary-w98' : $color-primary-w98,
        'primary-w99' : $color-primary-w99,
        'background' : $color-background,
        'foreground' : $color-foreground
);

@each $name, $color in $colors {
  .has-#{$name}-color {
    color: $color;
  }

  .has-#{$name}-background-color {
    background-color: $color;
  }
}