@import "variables";

.debug-device {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

.debug-contents {
  display: none;
  position: absolute;
  background-color: rgba(255, 0, 0, .4);
  top: var(--extra-margin-top);
  left: $extra-margin-left + $page-sidebar-width;
  right: $extra-margin-right;
  bottom: var(--extra-margin-bottom);
}

.debug {
  .debug-device, .debug-contents {
    display: inherit;
  }

  .post-container {
    background-color: rgba(0, 0, 255, 0.0);
    background-image: linear-gradient(transparent 50%, rgba(0, 0, 255, .05) 50%);
    background-size: 20px 2 * $base-line-height;
    //  background-position-y: 14px;
  }
}
