///
// Fonts
// => https://google-webfonts-helper.herokuapp.com/fonts/pt-sans?subsets=latin
///

/* pt-sans-regular - latin */
//noinspection CssUnknownTarget
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/pt-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('assets/fonts/pt-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/pt-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/pt-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/pt-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/pt-sans-v17-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-italic - latin */
//noinspection CssUnknownTarget
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/pt-sans-v17-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('assets/fonts/pt-sans-v17-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/pt-sans-v17-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/pt-sans-v17-latin-italic.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/pt-sans-v17-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/pt-sans-v17-latin-italic.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-700 - latin */
//noinspection CssUnknownTarget
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/pt-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('assets/fonts/pt-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/pt-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/pt-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/pt-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/pt-sans-v17-latin-700.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-700italic - latin */
//noinspection CssUnknownTarget
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/pt-sans-v17-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('assets/fonts/pt-sans-v17-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/pt-sans-v17-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/pt-sans-v17-latin-700italic.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/pt-sans-v17-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/pt-sans-v17-latin-700italic.svg#PTSans') format('svg'); /* Legacy iOS */
}
