@use "sass:math";

@import "variables";
@import "placeholders";

$base-line-height-em: 1em * math.div($base-line-height, $base-font-size);

html {
  --color-primary: #{$color-primary};
  --color-foreground: #{$color-foreground};
  --color-background: #{$color-background};
  --color-gray: #{$color-gray};

  --font-size-base: #{$base-font-size};
  --line-height-base: #{$base-line-height};

  --font-size-large: #{$large-font-size};
  --line-height-large: #{$large-line-height};

  --font-size-larger: #{$larger-font-size};
  --line-height-larger: #{$larger-line-height};

  --font-size-small: #{$small-font-size};
  --line-height-small: #{$small-line-height};

  --font-size-smaller: #{$smaller-font-size};
  --line-height-smaller: #{$smaller-line-height};

  --button-shadow: 0 0 6px 3px rgba(255, 255, 255, .2);

  --legend-table-label-column-width: 230px;
  --columns-gutter: 40px;
  --grid-media-height: 174px;
  --grid-media-gutter: 40px;

  --icon-button-size: #{$icon-button-size};
  --navigation-button-size: #{$navigation-button-size};

  --page-sidebar-width: #{$extra-margin-left + $page-sidebar-width};
  --extra-margin-left: #{$extra-margin-left};
  --extra-margin-top: #{$extra-margin-top};
  --extra-margin-bottom: #{$extra-margin-bottom};

  --mejs-controls-button-size: 40px;
  --mejs-controls-height: 70px;
}

@each $name, $color in $worlds {
  .#{$name} {
    --color-primary: #{$color};
    --swiper-theme-color: #{$color};
  }
}

@import "fonts";

html, body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: 'PT Sans', sans-serif;
  font-size: var(--font-size-base);
  overscroll-behavior: none;
  user-select: none;

  -ms-content-zooming: none;
  -ms-scroll-chaining: none;

  -webkit-tap-highlight-color: transparent;
}

body.world-99 {
  font-family: 'Helvetica', 'PT Sans', sans-serif;
}

a, a:visited {
  text-decoration: none;
  color: var(--color-primary);
}

h2 {
  color: var(--color-primary);
  font-weight: bold;
  font-size: var(--font-size-larger);
  line-height: var(--line-height-larger);
  margin-top: var(--line-height-base);
  margin-bottom: 0;
}

h3 {
  font-weight: bold;
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
  margin-top: var(--line-height-base);
  margin-bottom: 0;
}

h4 {
  font-weight: bold;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  margin-top: var(--line-height-base);
  margin-bottom: 0;
}

h5 {
  font-weight: bold;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  margin-top: var(--line-height-base);
  margin-bottom: 0;
}

p {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  margin-top: var(--line-height-base);
  margin-bottom: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.large {
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
  margin-top: var(--line-height-base);
  margin-bottom: 0;
}

@mixin firstChildMarginTop {
  > h2:first-child {
    margin-top: 1em * math.div($font-size-assumption * $larger-font-size - $larger-line-height, 2 * $larger-font-size);
  }

  > h3:first-child {
    margin-top: 1em * math.div($font-size-assumption * $large-font-size - $large-line-height, 2 * $large-font-size);
  }

  > h4:first-child {
    margin-top: 1em * math.div($font-size-assumption * $base-font-size - $base-line-height, 2 * $base-font-size);
  }

  > h5:first-child {
    margin-top: 1em * math.div($font-size-assumption * $small-font-size - $small-line-height, 2 * $small-font-size);
  }

  > p:first-child {
    margin-top: 1em * math.div($font-size-assumption * $base-font-size - $base-line-height, 2 * $base-font-size);
  }

  > .large:first-child {
    margin-top: 1em * math.div($font-size-assumption * $large-font-size - $large-line-height, 2 * $large-font-size);
  }

  > .wp-block-columns:first-child {
    margin-top: 0;
  }
}

article {
  @include firstChildMarginTop;
}


///
// Use the class `world-title-row` for the row block containing the title image.
///
.world-title-row {
  margin-top: 2em;
  margin-bottom: 4em;
}


article > .wp-block-group.large:first-child {
  > .wp-block-group__inner-container > p:first-child {
    margin-top: 0;
  }
}

.wp-block-column {
  @include firstChildMarginTop;
}

.text-caption {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  color: var(--color-foreground);
}

.wp-block-video {
  figcaption {
    @extend .text-caption;
  }
}

///
// Block: Columns
///
.wp-block-columns {
  margin-top: var(--line-height-base);
  margin-bottom: 0;
}

.wp-block-column:not(:first-child) {
  margin-left: var(--columns-gutter);
}


///
// Block: image
///
.wp-block-image {
  img {
    height: auto;
  }

  figcaption {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
  }
}


///
// Block: table
///
.wp-block-table {
  table {
    tr {
      border-bottom: 1px solid var(--color-primary);
    }

    td {
      border: none;
      font-size: var(--font-size-base);
      line-height: var(--line-height-base);
    }

    td:first-child {
      color: var(--color-primary);
      font-size: var(--font-size-small);
      line-height: var(--line-height-small);
      width: var(--legend-table-label-column-width);
    }
  }
}


///
// Block: Button (with style "navigation")
///
.wp-block-button.is-style-navigation {
  .wp-block-button__link {
    @extend %navigation-button;

    padding: 0;
  }
}


// TODO Add a class for a button that would add a `pointer (hand)`.

///
// Block: Group (with added class "selection-left-right")
///
%selection-left-right-p {
  height: 100%;
  position: relative;
  font-weight: bold;
  font-size: var(--font-size-larger);
  line-height: var(--line-height-larger);

  // @see h2:first-child in mixin `firstChildMarginTop`.
  margin-top: 1em * math.div($font-size-assumption * $larger-font-size - $larger-line-height, 2 * $larger-font-size);

  a {
    display: block;
    height: 100%;

    &:after {
      position: absolute;
      top: calc(50% - 30px - (var(--extra-margin-top) / 2));

      display: block;
      content: " ";
      width: 60px;
      height: 60px;

      background-color: currentColor;
      mask-repeat: no-repeat;
    }
  }

  &:first-child {
    a:after {
      left: 0;
      mask-position: center left;
      mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="56.006" height="54.588"><path d="M29.419 53.706a2.987 2.987 0 0 1-4.238 0L.881 29.42a2.988 2.988 0 0 1 0-4.238l24.3-24.3a2.987 2.987 0 0 1 4.238 0l2.775 2.775a3.003 3.003 0 0 1-.05 4.288L17.08 22.294h35.925c1.663 0 3 1.337 3 3v4c0 1.662-1.337 3-3 3H17.081l15.063 14.35a2.982 2.982 0 0 1 .05 4.287l-2.775 2.775z"/></svg>');
    }
  }

  &:last-child {
    a:after {
      right: 0;
      mask-position: center right;
      mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="56.006" height="54.588"><path d="M26.588.881a2.987 2.987 0 0 1 4.237 0l24.3 24.288a2.988 2.988 0 0 1 0 4.237l-24.3 24.3a2.987 2.987 0 0 1-4.237 0l-2.776-2.775a3.003 3.003 0 0 1 .05-4.287l15.063-14.35H3c-1.662 0-3-1.338-3-3v-4c0-1.663 1.338-3 3-3h35.925L23.863 7.944a2.982 2.982 0 0 1-.05-4.288L26.587.881z"/></svg>');
    }
  }
}

.selection-left-right {
  height: calc(100vh - 1.75 * var(--extra-margin-top));

  .wp-block-group__inner-container {
    height: inherit;
    gap: 5em;

    > p {
      @extend %selection-left-right-p;
    }
  }
}

///
// Block: Group (with added class "image-grid")
///
.image-grid {
  margin-top: calc(-.5 * var(--grid-media-gutter));
  // margin-bottom: calc(-1 * var(--grid-media-gutter)); // This is to reset the bottom margin of the figure.

  .wp-block-group__inner-container {
    display: flex;
    flex-wrap: wrap;
  }

  .wp-block-buttons {
    flex-grow: 0;
    flex-shrink: 0;

    .wp-block-button {
      margin: var(--grid-media-gutter) var(--grid-media-gutter) 0 0;
      height: var(--grid-media-height);
    }

    .wp-block-button__link {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      background-color: var(--color-foreground);
      color: var(--color-primary);
      padding: 0 2rem;
      height: 100%;
    }
  }

  figure {
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: var(--grid-media-gutter);
    margin-right: var(--grid-media-gutter);
    margin-bottom: 0;

    img, video {
      display: block;
      width: auto;
      height: var(--grid-media-height);
    }

    a {
      display: block;
    }
  }

  figcaption {
    display: none;
  }
}


///
// Image
///
.wp-block-image {
  display: table;

  figcaption {
    display: table-caption;
    caption-side: bottom;
    margin-top: .15em;
    color: var(--color-foreground);
    text-align: left;
    line-height: 1.5em; // Special line height (this breaks vertical rhythm deliberately).
  }
}

p + .wp-block-image {
  margin-top: var(--font-size-base);
}

///
// Gallery
///
.wp-block-gallery {
  // background-color: rgba(255, 0, 0, .5);

  .blocks-gallery-item:first-child {
    width: 100%;
  }

  &.columns-2 {
    .blocks-gallery-item:nth-of-type(2n) {
      margin-right: 1em;
    }

    .blocks-gallery-item:nth-of-type(2n + 1),
    .blocks-gallery-item:last-child {
      margin-right: 0;
    }
  }

  &.columns-3 {
    .blocks-gallery-item:nth-of-type(3n) {
      margin-right: 1em;
    }

    .blocks-gallery-item:nth-of-type(3n + 1),
    .blocks-gallery-item:last-child {
      margin-right: 0;
    }
  }

  &.columns-4 {
    .blocks-gallery-item:nth-of-type(4n) {
      margin-right: 1em;
    }

    .blocks-gallery-item:nth-of-type(4n + 1),
    .blocks-gallery-item:last-child {
      margin-right: 0;
    }
  }

  &.columns-5 {
    .blocks-gallery-item:nth-of-type(5n) {
      margin-right: 1em;
    }

    .blocks-gallery-item:nth-of-type(5n + 1),
    .blocks-gallery-item:last-child {
      margin-right: 0;
    }
  }
}


///
// Block Separator
///
.wp-block-separator {
  &:not(.has-text-color) {
    color: var(--color-primary);
  }

  &:not(.has-background) {
    background-color: var(--color-primary);
  }

  &.is-style-wide {
    height: 5px;
  }
}
