.icon-button {
  cursor: pointer;
  width: var(--icon-button-size);
  height: var(--icon-button-size);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, .7));

  svg {
    width: 100%;
    height: 100%;
  }

  .background {
    fill: var(--color-foreground);
  }

  &.active {
    .background {
      fill: var(--color-primary);
    }
  }
}
