//your theme name
$theme-name: os-theme-ds;

//horizontal scrollbar
$scrollbar-horizontal-size: 30px; //horizontal scrollbar height
$scrollbar-horizontal-padding: 0;
$scrollbar-horizontal-inner-expansion: 0;
$scrollbar-horizontal-track-background: transparent;
$scrollbar-horizontal-track-background-hover: transparent;
$scrollbar-horizontal-track-background-active: transparent;
$scrollbar-horizontal-track-transition: background-color 0.3s;
$scrollbar-horizontal-handle-min-size: 30px; //horizontal scrollbar handle min width
$scrollbar-horizontal-handle-max-size: none; //horizontal scrollbar handle max width
$scrollbar-horizontal-handle-background: rgba(0, 0, 0, 0.4);
$scrollbar-horizontal-handle-background-hover: rgba(0, 0, 0, 0.6);
$scrollbar-horizontal-handle-background-active: rgba(0, 0, 0, 1);
$scrollbar-horizontal-handle-transition: background-color 0.3s;

//vertical scrollbar
$scrollbar-vertical-size: 20px; //vertical scrollbar width
$scrollbar-vertical-padding: 0;
$scrollbar-vertical-inner-expansion: 0;
$scrollbar-vertical-track-background: transparent;
$scrollbar-vertical-track-background-hover: transparent;
$scrollbar-vertical-track-background-active: transparent;
$scrollbar-vertical-track-transition: background-color 0.3s;
$scrollbar-vertical-handle-min-size: 30px; //vertical scrollbar handle min height
$scrollbar-vertical-handle-max-size: none; //vertical scrollbar handle max height
$scrollbar-vertical-handle-background: #444;
$scrollbar-vertical-handle-background-hover: #666;
$scrollbar-vertical-handle-background-active: #888;
$scrollbar-vertical-handle-transition: background-color 0.3s;

//scrollbar corner
$scrollbar-corner-background-color: transparent;

.#{$theme-name} > .os-scrollbar-horizontal {
  right: $scrollbar-vertical-size + ($scrollbar-vertical-padding * 2);
  height: $scrollbar-horizontal-size;
  padding: $scrollbar-horizontal-padding;
}

.#{$theme-name} > .os-scrollbar-vertical {
  bottom: $scrollbar-horizontal-size + ($scrollbar-horizontal-padding * 2);
  width: $scrollbar-vertical-size;
  padding: $scrollbar-vertical-padding;
}

.#{$theme-name}.os-host-rtl > .os-scrollbar-horizontal {
  left: $scrollbar-vertical-size + ($scrollbar-vertical-padding * 2);
  right: 0;
}

.#{$theme-name} > .os-scrollbar-corner {
  height: $scrollbar-horizontal-size + ($scrollbar-horizontal-padding * 2);
  width: $scrollbar-vertical-size + ($scrollbar-vertical-padding * 2);
  background-color: $scrollbar-corner-background-color;
}

.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track {
  background: $scrollbar-horizontal-track-background;
}


.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track {
  background: $scrollbar-vertical-track-background;
}

.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track:hover {
  background: $scrollbar-horizontal-track-background-hover;
}

.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track:hover {
  background: $scrollbar-vertical-track-background-hover;
}

.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track.active {
  background: $scrollbar-horizontal-track-background-active;
}

.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track.active {
  background: $scrollbar-vertical-track-background-active;
}

.#{$theme-name}.os-host-transition > .os-scrollbar-horizontal > .os-scrollbar-track {
  -webkit-transition: $scrollbar-horizontal-track-transition;
  transition: $scrollbar-horizontal-track-transition;
}

.#{$theme-name}.os-host-transition > .os-scrollbar-vertical > .os-scrollbar-track {
  -webkit-transition: $scrollbar-vertical-track-transition;
  transition: $scrollbar-vertical-track-transition;
}

.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle:before,
.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
}

.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle:before {
  top: -$scrollbar-horizontal-inner-expansion;
  bottom: -$scrollbar-horizontal-padding;
}

.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle:before {
  left: -$scrollbar-vertical-inner-expansion;
  right: -$scrollbar-vertical-padding;
}

.#{$theme-name}.os-host-rtl > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle:before {
  right: -$scrollbar-vertical-inner-expansion;
  left: -$scrollbar-vertical-padding;
}

.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle {
  border-radius: $scrollbar-horizontal-size;
}

.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
  border-radius: $scrollbar-vertical-size;
}

.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle {
  min-width: $scrollbar-horizontal-handle-min-size;
  max-width: $scrollbar-horizontal-handle-max-size;
  background: $scrollbar-horizontal-handle-background;
}

.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
  min-height: $scrollbar-vertical-handle-min-size;
  max-height: $scrollbar-vertical-handle-max-size;
  background: $scrollbar-vertical-handle-background;
}

.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle:hover {
  background: $scrollbar-horizontal-handle-background-hover;
}

.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle:hover {
  background: $scrollbar-vertical-handle-background-hover;
}

.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle.active {
  background: $scrollbar-horizontal-handle-background-active;
}

.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle.active {
  background: $scrollbar-vertical-handle-background-active;
}

.#{$theme-name}.os-host-transition > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle {
  -webkit-transition: $scrollbar-horizontal-handle-transition;
  transition: $scrollbar-horizontal-handle-transition;
}

.#{$theme-name}.os-host-transition > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
  -webkit-transition: $scrollbar-vertical-handle-transition;
  transition: $scrollbar-vertical-handle-transition;
}

////////////////////////////// Remove the following lines in order to get the original overlay-scrollbars behaviour back.
.#{$theme-name} > .os-scrollbar-horizontal > .os-scrollbar-track::before,
.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track::before {
  content: '';
  display: block;
  position: absolute;
  background: #333;
}

.#{$theme-name} > .os-scrollbar-vertical > .os-scrollbar-track::before {
  top: 4px;
  bottom: 4px;
  width: 2px;
  left: 50%;
  margin-left: -1px;
  background: #222;
}

.#{$theme-name}.os-host-transition > .os-scrollbar > .os-scrollbar-track::before {
  // transition: margin 0.3s, height 0.3s, width 0.3s, top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}

.#{$theme-name} > .os-scrollbar-vertical:hover > .os-scrollbar-track::before,
.#{$theme-name} > .os-scrollbar-vertical.active > .os-scrollbar-track::before {
  //top: 0;
  //bottom: 0;
  //width: 100%;
  //left: 0;
  //margin-left: 0;
}

//////////////////////////////

.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden > .os-scrollbar-vertical {
  right: 20px;
}
