.swiper {
  border: 1px solid var(--color-primary);

  &:before {
    display: block;
    content: "Swiper";
    background-color: var(--color-primary);
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: .5em;
  }
}

.swiper-slide {
  margin: 1em .25em;
  padding: 1em .25em;

  + .swiper-slide {
    border-top: 2px solid var(--color-primary);
  }
}

