$themeColor: var(--color-primary);

@import "../node_modules/swiper/swiper.scss";

.swiper {
  width: 100%;
  height: auto;

  h3 {
    font-size: 200%;
    line-height: 140%;
  }
}

/* *****************************************************************************
 * Swiper Pagination
 **************************************************************************** */
@import "../node_modules/swiper/modules/pagination/pagination.scss";

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  top: calc(0.5 * var(--icon-button-size) - .5em);
  bottom: inherit;
}

/* *****************************************************************************
 * Swiper Navigation
 **************************************************************************** */
// @import "../node_modules/swiper/modules/navigation/navigation.scss";
// => Instead of standard navigation styles, we would define our own navigation
//    styles.

@at-root {
  :root {
    --swiper-navigation-size: var(--icon-button-size);
  }
}

.swiper-slide {
  padding-top: calc(1.2 * var(--swiper-navigation-size));
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 0;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));

  &.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }

  &.swiper-button-hidden {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
  }

  .swiper-navigation-disabled & {
    display: none !important;
  }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0;
  right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0;
  left: auto;
}

.swiper-button-lock {
  display: none;
}
