@use "sass:math";

$color-background: #000;
$color-foreground: #fff;
$color-gray: #aaa;
$color-primary: #9040c1; // Mainly used if the world could not be detected (and in block editor).
$color-primary-w1: #00957e;
$color-primary-w2: #eb5c2e;
$color-primary-w98: #ff0054; // => rub-fleisch
$color-primary-w99: #F29FC5; // => rub-1

$worlds: (
        'world-1': $color-primary-w1,
        'world-2': $color-primary-w2,
        'world-98': $color-primary-w98,
        'world-99': $color-primary-w99
);

$extra-margin-left: 60px;
$extra-margin-right: 60px;

// Please note that the post-container would actually be scrollable into that extra top and bottom margins.
$extra-margin-top: 60px;
$extra-margin-bottom: 60px;

$page-sidebar-width: 120px;

// Der folgende Faktor wird verwendet, um die effektive Schriftgrösse der Schriftart zu berechnen
// (und zwar für Buchstaben wie A, B, C, also Buchstaben ohne Umlaute und ohne Tiefstellen).
$font-size-assumption: 0.82;

$navigation-margin-bottom: 60px;

$icon-button-size: 60px;
$navigation-button-size: 100px;

$larger-font-size: 40px;
$large-font-size: 33px;
$base-font-size: 26px;
$small-font-size: 20px;
$smaller-font-size: 16px;

$base-line-height: 1.5 * $base-font-size;

// Calculated variables.
$larger-line-height: math.ceil(math.div($larger-font-size, $base-line-height)) * $base-line-height;
$large-line-height: math.ceil(math.div($large-font-size, $base-line-height)) * $base-line-height;
$small-line-height: math.ceil(math.div($small-font-size, $base-line-height)) * $base-line-height;
$smaller-line-height: math.ceil(math.div($smaller-font-size, $base-line-height)) * $base-line-height;
