@import "variables";
@import "colors";
@import "globals";

$content-width: 1094px;

/* Post title width */
.editor-post-title__block.wp-block {
  max-width: $content-width;
  margin-top: 20px;

  /* Post title styling */
  .editor-post-title__input {
    opacity: 0.5;
    font-size: 20px;
    font-weight: normal;
  }
}

/* Main column width */
.wp-block {
  max-width: $content-width;

  /* Full column width */
  &[data-align="full"] {
    max-width: none;
  }
}

///
// Block: Group (with added class "selection-left-right")
///
.selection-left-right {
  height: 600px;

  > p {
    @extend %selection-left-right-p;
  }
}

.wp-block-image {
  margin-top: 0;
}

.image-grid {
  .wp-block-buttons {
    margin: 0;
  }

  figure {
    margin-bottom: 0;
    margin-left: 0;
  }

  .wp-block-image figcaption {
    font-size: 15px;
  }
}

.wp-block-columns {
  margin-top: 0;
}

td {
  vertical-align: baseline;
}

///
// Flip Book
///
.flip-book-must-see,
.flip-book-real-biel,
.flip-book-secret-spot {
  border: 1px dashed var(--color-primary);

  &:before {
    display: block;
    text-align: center;
    padding: 0 1em;
    color: var(--color-primary);
  }

  figure {
    margin-left: .5em;
    margin-right: .5em;
  }

  figcaption {
    display: none !important;
  }
}

.flip-book-must-see {
  &:before {
    content: "MUST-SEE";
  }
}

.flip-book-real-biel {
  &:before {
    content: "REAL BIEL/BIENNE";
  }
}

.flip-book-secret-spot {
  &:before {
    content: "SECRET SPOT";
  }
}

@import "swiper-editor-style";
