@import "mixins";

.ds-museum-map-container {
  padding-bottom: 1em;
}

.ds-museum-map {
  display: flex;
  justify-content: center;
}

.ds-museum-map-inner {
  position: relative;

  img {
    width: 500px;
    height: auto;
  }
}

.ds-museum-map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;

  &.visible {
    display: inherit;
  }
}

.ds-museum-map-buttons {
  margin-top: 1rem;
  column-count: 3;
  column-gap: 1rem;

  .ds-museum-map-button {
    @include navigation-button(false, false);

    justify-content: left;
    width: 100%;
    height: 3em;
    padding-left: 1rem;
    margin-bottom: 1rem;
    break-inside: avoid-column;
  }
}
