/*!
Theme Name: DS
Author: GFF
Description: The digital signage theme.
Version: 1.32
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ds
*/

@use "sass:math";

@import "wp-reset";
@import "variables";
@import "colors";
@import "globals";

html, body {
  overscroll-behavior: none;
  user-select: none;
  touch-action: pan-x pan-y;

  -ms-content-zooming: none;
  -ms-scroll-chaining: none;

  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
}

@import "debug";
@import "icon-button";
@import "overlay-scrollbars";
@import "swiper";

// The page wrapper (full viewport with a flex display).
.page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  width: 100%;
}

.page-sidebar-container {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;

  width: var(--page-sidebar-width);
  padding-left: var(--extra-margin-left);
  padding-top: var(--extra-margin-top);
  padding-bottom: var(--extra-margin-bottom);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-sidebar-top {
  .icon-button {
    margin-bottom: math.floor(math.div($icon-button-size, 2));
  }
}

.page-sidebar-bottom {
  .icon-button {
    margin-top: math.floor(math.div($icon-button-size, 2));
  }
}

.page-post-container {
  flex-grow: 1;
  overflow: hidden;
}

.post-container {
  display: none;
  padding: var(--extra-margin-top) $extra-margin-right $icon-button-size 0;
  width: 100%;
  height: 100%;

  // border: 1px solid #088;

  &.active {
    display: block;
    // border: 1px solid #c88;
  }
}

.the-title {
  display: none;
}

.edit-post-link-container {
  padding: 10px 0;

  .post-edit-link {
    font-size: $small-font-size;
    line-height: math.div(1em * $small-line-height, $small-font-size);
    margin-top: math.div(1em * $base-line-height, $small-font-size);
    margin-bottom: 0;
  }
}

///
// The overlay would be used for example together with the video player modal box.
///
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

///
// The video player modal box.
///
#video-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
}

///
// The video player close button that would be attached (by javascript) to the mejs button overlay (the big play button in the center of the video).
///
.mejs-close-button {
  // Space between the close button and the play button.
  margin-right: 30px;
}

.mejs-overlay-button {
  background: none;
  width: fit-content;
  height: fit-content;
}

.mejs-button:not(.mejs-volume-button) {
  width: var(--mejs-controls-button-size);
  height: var(--mejs-controls-button-size);
  margin-right: 10px;

  .icon-button {
    width: var(--mejs-controls-button-size);
    height: var(--mejs-controls-button-size);
  }
}

.mejs-play {
  .pause-button {
    display: none;
  }
}

.mejs-pause {
  .play-button {
    display: none;
  }
}

.mejs-container * {
  font-family: 'PT Sans', sans-serif;
  font-size: var(--font-size-base);
}

.mejs-button, .mejs-time, .mejs-time-rail {
  line-height: var(--font-size-base);
}

.mejs-container .mejs-controls {
  background: rgba(30, 30, 30, 0.6);
}

.mejs-controls {
  align-items: center;
  height: var(--mejs-controls-height);
}

.mejs-time {
  padding-top: 0;
  padding-bottom: calc(var(--font-size-base) / 10);
}

.post-container {
  .mejs-controls .mejs-time-rail .mejs-time-current {
    background: var(--color-primary);
  }
}

.mejs-time-float {
  display: none !important;
}

audio {
  height: var(--mejs-controls-height);
}

// The original video element would be replaced by javascript with a link containing the poster image as well as
// an icon-button-overlay (containing the play icon button). Clicking the link would actually open (javascript) the
// modal box containing the video player.
.wp-block-video {
  a {
    position: relative;

    .icon-button-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.85;
    }
  }
}

// Do not show the "wpml is in development mode" notice.
.otgs-development-site-front-end {
  display: none;
}

// Helpers.
.template {
  display: none;
}

.is-hidden {
  display: none;
}

///
// Special screen (maybe we should put that into a stylesheet of its own and then just link to that if needed).
///
.category-2-3-2 {
  .page-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .page-sidebar-container {
    flex-direction: row;
    width: inherit;
    justify-content: center;
    padding: 0;
  }

  .page-sidebar-bottom {
    display: flex;

    .icon-button {
      margin-top: 0;
      margin-right: calc(var(--icon-button-size) / 2);
    }
  }

  .page-post-container {
    flex-grow: 0;
  }

  .post-container {
    padding: 0 0 var(--icon-button-size) 0;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mejs-controls {
    justify-content: center;
  }
}


/* *****************************************************************************
 *
 * Fancybox
 *
 **************************************************************************** */
body {
  --fancybox-accent-color: var(--color-primary);
}

.autoplay-gallery-screen {
  --fancybox-bg: #000;

  .carousel__button.is-close {
    display: none;
  }

  .fancybox__slide {
    // Remove the padding to make it "fullscreen".
    padding: 0;
  }
}

body .fancybox__container {
  --carousel-button-width: 63px;
  --carousel-button-height: 63px;
}

body .fancybox__toolbar {
  --carousel-button-svg-width: 40px;
  --carousel-button-svg-height: 40px;

  // We would double the padding of the toolbar to move it away from the
  // screen borders.
  padding: 16px;
}

///
// Block DS Map & DS Map Panel & DS Map Tile Toggles.
///

// Horizontal gap between the map and the map panels.
$gap-map-panels: 60px;

// Right margin of the map panels.
$map-panels-right-margin: 60px;

.leaflet-touch .leaflet-bar a {
  width: var(--icon-button-size);
  height: var(--icon-button-size);
  line-height: var(--icon-button-size);
}

.leaflet-left .leaflet-control {
  // margin-left: 10px;
}

.leaflet-bottom .leaflet-control {
  margin-bottom: var(--extra-margin-bottom);
}

.wp-block-ds-blocks-ds-map {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ds-map-panels {
  box-sizing: content-box;
  position: relative;
}

.ds-map-container {
  flex-grow: 1;
}

.ds-map-panels-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: $gap-map-panels;
  right: 0;
}

.ds-map-panels-with-navigation {
  .ds-map-panels-wrapper {
    // Button size plus top padding and bottom padding of ds-map-panel-navigation.
    top: calc(var(--icon-button-size) + 20px + 60px);
  }
}

.ds-map-panel-navigation {
  padding-top: 60px;
}

.wp-block-ds-blocks-ds-map-panel {
  padding-right: $map-panels-right-margin;

  .os-content > div,
  > div {
    *:first-child {
      margin-top: 0;
    }
  }
}

.ds-map-panels {
  padding-left: $gap-map-panels;
  padding-right: $map-panels-right-margin;

  .wp-block-columns {
    gap: 0;

    .wp-block-column:first-child {
      width: calc(3 * var(--navigation-button-size) + 2 * 30px);
      flex-basis: inherit;
      flex-grow: 0;
      flex-shrink: 0;

      .wp-block-image {
        img {
          max-width: 100%;
        }
      }
    }

    .wp-block-column:not(:first-child) {
      flex-grow: 1;
    }
  }
}


///
// Flip Book
///
.flip-book-must-see {
  .flip-book-border-outer {
    fill: #c5d882;
  }

  .flip-book-border-center {
    fill: #788652;
  }

  .flip-book-border-inner {
    fill: #a8b970;
  }
}

.flip-book-real-biel {
  .flip-book-border-outer {
    fill: #89cccf
  }

  .flip-book-border-center {
    fill: #527f82
  }

  .flip-book-border-inner {
    fill: #74afb2
  }
}

.flip-book-secret-spot {
  .flip-book-border-outer {
    fill: #ee847f
  }

  .flip-book-border-center {
    fill: #935250
  }

  .flip-book-border-inner {
    fill: #cb716e
  }
}

.flip-book-text {
  fill: #000000;
}

.flip-book-must-see,
.flip-book-real-biel,
.flip-book-secret-spot {
  .wp-block-group__inner-container {
    position: relative;
  }

  .flip-book-passepartout {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;

    svg {
      max-width: 100%;
      height: auto;
    }
  }

  figure {
    display: none;
    pointer-events: auto;

    position: absolute;
    top: 18.37% - 0.15%;
    left: 7.81% - 0.05%;
    right: 7.81% - 0.05%;
    bottom: 10.2% - 0.05%;
    margin-bottom: 0;
    overflow: hidden;

    > a {
      display: block;
      width: 100%;
      height: 100%;
      // overflow: hidden;

      > img {
        display: block;
        object-fit: cover;
      }
    }
  }
}
