.ds-touch-animation {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  pointer-events: none;

  svg {
    opacity: .9;
    width: 30px;
    height: auto;
    transform: rotate(-30deg);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .8));

    path {
      fill: var(--color-foreground);
    }
  }

  &.animate {
    animation: animation 10s linear infinite;
  }

  @keyframes animation {
    0% {
      opacity: 1;
      transform: translateX(100vw) translateY(80vh) rotate(-150deg);
    }
    40% {
      opacity: 1;
      transform: translateX(50vw) translateY(50vh) rotate(0);
    }
    50% {
      opacity: 1;
      transform: translateX(50vw) translateY(50vh) rotate(0);
    }
    55% {
      opacity: 1;
      transform: translateX(50vw) translateY(50vh) rotate(360deg);
    }
    60% {
      opacity: 1;
      transform: translateX(50vw) translateY(50vh) rotate(60deg);
    }
    70% {
      opacity: 1;
      transform: translateX(50vw) translateY(50vh) rotate(60deg);
    }
    80% {
      opacity: 0;
      transform: translateX(40vw) translateY(60vh);
    }
    100% {
      opacity: 0;
    }
  }
}
