// $galaxy-factor: 0.5;
$icon-button-size: 40px;
$navigation-button-size: 60px;

$extra-margin-left: 40px;
$extra-margin-right: 40px;

$navigation-margin-left: $extra-margin-left;
$navigation-margin-right: $extra-margin-right;

// Please note that the post-container would actually be scrollable into that extra top and bottom margins.
$extra-margin-top: $icon-button-size;
$extra-margin-bottom: $icon-button-size;

$page-sidebar-width: 2 * $icon-button-size;
