@import "../placeholders";
@import "variables";

html {
  --icon-button-size: #{$icon-button-size};
  --navigation-button-size: #{$navigation-button-size};

  --extra-margin-top: #{$extra-margin-top};
  --extra-margin-bottom: #{$extra-margin-bottom};

  // The "smaller" font size would be used for navigation buttons.
  --font-size-smaller: 10px;
  --line-height-smaller: 22px;
}

.page-post-container {
  &::-webkit-scrollbar {
    display: none;
  }
}

///
// Overlay Scrollbars.
///

// The theme name as defined in `overlay-scrollbars.scss`.
$os-theme-name: os-theme-ds;

.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden > .os-scrollbar-vertical {
  right: 5px;
}

.#{$os-theme-name} > .os-scrollbar-vertical {
  width: 10px;
}

///
// Page Wrapper.
///
.page-wrapper {
  flex-direction: column-reverse;
}

.page-sidebar-container {
  width: 100%;
  flex-direction: row;
  align-items: flex-end;
  padding-left: $navigation-margin-left;
  padding-right: $navigation-margin-right;
  padding-top: var(--extra-margin-top);
  padding-bottom: var(--extra-margin-bottom);
}

// The page sidebar top contains the navigation.
.page-sidebar-top {
  flex-grow: 1;
}

// The page sidebar bottom contains the language selector.
.page-sidebar-bottom {
  display: flex;
  flex-direction: row;

  .icon-button {
    margin-top: 0;
    margin-left: calc(var(--icon-button-size) / 4);

    &:first-child {
      margin-left: 0;
    }
  }
}

.navigation {
  $space: .5rem; // floor(0.15 * $navigation-button-size);

  ul {
    display: flex;
    margin-left: - $space;
    margin-right: - $space;
  }

  li {
    margin-left: $space;
    margin-right: $space;
  }

  a {
    @extend %navigation-button;

    &.active {
      background-color: var(--color-primary);
    }
  }
}

.post-container {
  padding-top: var(--extra-margin-top);
  padding-right: 0;
}

article {
  margin-left: $extra-margin-left;
  margin-right: $extra-margin-right;

  > .wp-block-video:first-child {
    margin-top: calc(-1 * var(--extra-margin-top));
  }

  p {
    margin-top: calc(0.5 * var(--line-height-base));
  }
}

.wide {
  margin-left: - $extra-margin-left;
  margin-right: - $extra-margin-right;
}

///
// Block DS Map.
///
.wp-block-ds-blocks-ds-map {
  flex-direction: column;
}

.ds-map-panel-navigation {
  padding-top: 20px;
}

.ds-map-panels:not(.ds-map-panels-with-navigation) {
  margin-top: 30px;
}

.ds-map-panels-with-navigation {
  .ds-map-panels-wrapper {
    // Button size plus top padding and bottom padding of ds-map-panel-navigation.
    top: calc(var(--icon-button-size) + 20px + 20px);
  }
}

.ds-map-panels {
  padding-left: $navigation-margin-left;
  padding-right: $navigation-margin-right;
}

@import "debug";
