@use "sass:math";

@import "variables";

// The device width is not the real device width, but the measured fully browser width in pixels.
$device-width: 1920px;
.debug-device {
  width: math.floor($device-width);
  height: math.floor(math.div($device-width, 1920) * 1080);
  //  border-right: 1px solid #fff;
  //  border-bottom: 1px solid #fff;
}

.debug-contents {
  top: var(--extra-margin-top);
  left: $extra-margin-left + $page-sidebar-width;
  right: $extra-margin-right;
  bottom: var(--extra-margin-bottom);
}
