$galaxy-factor: 1.058;
$icon-button-size: round(60px * $galaxy-factor);

$extra-margin-left: $icon-button-size;
$extra-margin-right: $icon-button-size;

// Please note that the post-container would actually be scrollable into that extra top and bottom margins.
$extra-margin-top: $icon-button-size;
$extra-margin-bottom: $icon-button-size;

$page-sidebar-width: 2 * $icon-button-size;
