@import "variables";

html {
  --icon-button-size: #{$icon-button-size};
  --extra-margin-top: #{$extra-margin-top};
  --extra-margin-bottom: #{$extra-margin-bottom};

  $size: round(0.65 * $icon-button-size);
  --mejs-controls-button-size: #{$size};
  --mejs-controls-height: #{round($size * 1.5)};
}

.page-sidebar-container {
  width: $extra-margin-left + $page-sidebar-width;
  padding-left: $extra-margin-left;
  padding-top: var(--extra-margin-top);
  padding-bottom: var(--extra-margin-bottom);
}

.page-sidebar-top {
  .icon-button {
    margin-bottom: calc(var(--icon-button-size) / 2);
  }
}

.page-sidebar-bottom {
  .icon-button {
    margin-top: calc(var(--icon-button-size) / 2);
  }
}

@import "debug";
