.debug-device {
  width: 1334px;
  height: 800px;
}

@media only screen and (max-width: 800px) {
  .world-1 {
    --extra-margin-left: 0;
    --icon-button-size: 35px;
    --navigation-button-size: 35px;
    --page-sidebar-width: 50px;

    --font-size-base: 14px;
    --line-height-base: 1.5em;

    --font-size-large: 16px;
    --line-height-large: 1.5em;

    --font-size-larger: 18px;
    --line-height-larger: 1.5em;

    --font-size-small: 12px;
    --line-height-small: 1.3em;

    --font-size-smaller: 10px;
    --line-height-smaller: 1.3em;

    --legend-table-label-column-width: 200px;

    --columns-gutter: 20px;
    --grid-media-height: 130px;
    --grid-media-gutter: 20px;
  }
}
