div[data-ds-item] {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  padding: .5em;

  > div:first-child {
    flex-grow: 1;
  }

  button {
    width: 3em;
    height: 2em;
  }

  &:not(:first-child) > div:first-child {
    display: flex;
    gap: 0.5em;
    align-items: center;

    > div {
      flex-grow: 3;

      &:nth-child(3) {
        flex-grow: 1;
      }
    }
  }

  input {
    width: 100%;
  }
}
